{
    "singleQuote": true,
    "trailingComma": "es5",
    "endOfLine": "lf",
    "tabWidth": 2,
    "printWidth": 120,
    "tabs": false,
    "semi": false,
    "quoteProps": "as-needed",
    "bracketSpacing": true,
    "arrowParens": "always",
    "parser": "babel"
}