.movie__rating {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #e9d100;
    margin-right: 10px;
    height: 30px;
    min-width: 30px;
    text-align: center;
}